body {
    background: rgb(176,176,176);
    background: linear-gradient(90deg, rgba(176,176,176,1) 11%, rgba(255,255,255,1) 100%);}

.grid {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Comfortaa', cursive;
}

.header {
    display: grid;
    grid-template-rows: 50% 50%;
    justify-content: center;
}

#letter-input {
    text-align: center;
    font-size: 2rem;
    max-width: 300px;
}

.attempts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.attempt-count {
    margin-top: 20px;
    font-size: 2rem;
}

.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.output {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
}

.letter{
    font-size: 2rem;
}
.letter-floor {
    width: 40px;
    height: 5px;
    border-radius: 25%;
    background-color: black;
}