.grid {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Comfortaa', cursive;
}

.header {
    display: grid;
    grid-template-rows: 50% 50%;
}

#letter-input {
    text-align: center;
    font-size: 2rem;
}

.attempts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.attempt-count {
    margin-top: 20px;
    font-size: 2rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.output {
    display: flex;
}

.dash {
    width: 40px;
    height: 5px;
    border-radius: 25%;
    margin-right: 10px;
    background-color: black;
}